# dependencies
node_modules/

# build outputs
.next/
out/
.vitepress/dist/
.vitepress/cache/
dist/

# turbo
.turbo/

# env files
.env
.env.*
!.env.example

# composable.env
env/.env.local

# os
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
*.log


# ce:start
.ce.*
env/.env.local
# ce:end
